.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}
.form_container {
    display: flex;
    flex-direction: column;
    flex: 1.5;
}
.contact_info_container {
    background: lightpink;
    flex: 1;
}
.input { 
    font-size: var(--font-size-medium);
    padding: 10px 0;
    outline: none;
    background: none;
    border: none;
    color: var(--main-text-color);
    transition: var(--main-transition);
}
.input::placeholder {
    color: var(--main-text-color-faded);
    font-size: var(--font-size-medium);
}
.input:focus {
    outline: none;
}
.input_small {
    height: 35px;
    border-bottom: 2px solid #ccc;
}
.input_small:focus {
    border-bottom: 2px solid var(--main-highlight-color);
}
.input_large {
    height: 150px;
    resize: none;
}
.icon_text_container {
    display: flex;
    gap: 10px;
}
.icon {
    fill: var(--main-text-color);
}

@media screen and (min-width: 600px) {
    .container {
        flex-direction: row;
    }
    .input_small {
        border-bottom: 3px solid #ccc;
    }
    .input_small:focus {
        border-bottom: 3px solid var(--main-highlight-color);
    }
}