.container {
    display: flex;
    flex-direction: column;
    padding: 60px 0;
}
.icon_link_container {
    gap: 15px;
    display: flex;
    margin: 0 auto;
}
.info_container {
    padding: 60px 0;
}
.info_item {
    height: 30px;
}
.copyright {
}
.dividing_line {
    position: relative;
    margin: 0;
    border: none;
    margin-left: calc((100vw - var(--content-width)) / -2);
    width: 100vw;
    border-bottom: 1px solid black;
}